%h1 Listing stakeholder_company_types

%table
  %tr
    %th Takeholder company type
    %th
    %th
    %th

  - @stakeholder_company_types.each do |stakeholder_company_type|
    %tr
      %td= stakeholder_company_type.takeholder_company_type
      %td= link_to 'Show', stakeholder_company_type
      %td= link_to 'Edit', edit_stakeholder_company_type_path(stakeholder_company_type)
      %td= link_to 'Destroy', stakeholder_company_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Stakeholder company type', new_stakeholder_company_type_path
