= form_for @structure do |f|
  - if @structure.errors.any?
    #error_explanation
      %h2= "#{pluralize(@structure.errors.count, "error")} prohibited this structure from being saved:"
      %ul
        - @structure.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :structure
    = f.text_field :structure
  .actions
    = f.submit 'Save'
