%h1 Listing structures

%table
  %tr
    %th Structure
    %th
    %th
    %th

  - @structures.each do |structure|
    %tr
      %td= structure.structure
      %td= link_to 'Show', structure
      %td= link_to 'Edit', edit_structure_path(structure)
      %td= link_to 'Destroy', structure, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Structure', new_structure_path
