%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Name alternate:
  = @project.name_alternate
%p
  %b Number:
  = @project.number
%p
  %b Prefix:
  = @project.prefix_id
%p
  %b Description:
  = @project.description

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
