%p#notice= notice

%p
  %b Project number:
  = @project.project_number_id
%p
  %b Project manager:
  = @project.project_manager_id
%p
  %b Structure type:
  = @project.structure_type_id
%p
  %b Project prefix:
  = @project.project_prefix_id
%p
  %b Investigation type:
  = @project.investigation_type_id
%p
  %b Fault:
  = @project.fault_id
%p
  %b Vendor:
  = @project.vendor_id
%p
  %b Client type:
  = @project.client_type_id
%p
  %b Insurance company:
  = @project.insurance_company_id
%p
  %b Client:
  = @project.client_id
%p
  %b Site:
  = @project.site_id
%p
  %b Stakeholder:
  = @project.stakeholder_id
%p
  %b Name:
  = @project.name
%p
  %b Name alternate:
  = @project.name_alternate
%p
  %b Description:
  = @project.description
%p
  %b Proposal date:
  = @project.proposal_date
%p
  %b Proposal number:
  = @project.proposal_number
%p
  %b Report date:
  = @project.report_date
%p
  %b Notes:
  = @project.notes
%p
  %b Insurance policy number:
  = @project.insurance_policy_number
%p
  %b Insurance notes:
  = @project.insurance_notes
%p
  %b Bill name:
  = @project.bill_name
%p
  %b Bill attention:
  = @project.bill_attention
%p
  %b Bill address:
  = @project.bill_address
%p
  %b Bill city:
  = @project.bill_city
%p
  %b Bill state:
  = @project.bill_state
%p
  %b Bill zip:
  = @project.bill_zip
%p
  %b Bad pay history:
  = @project.bad_pay_history

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
