%h1 Listing companies

%table
  %tr
    %th Company name
    %th Contact
    %th Address
    %th City
    %th State
    %th Zip
    %th Phone
    %th Fax
    %th Email
    %th Website
    %th Notes
    %th
    %th
    %th

  - @companies.each do |company|
    %tr
      %td= company.company_name
      %td= company.contact
      %td= company.address
      %td= company.city
      %td= company.state
      %td= company.zip
      %td= company.phone
      %td= company.fax
      %td= company.email
      %td= company.website
      %td= company.notes
      %td= link_to 'Show', company
      %td= link_to 'Edit', edit_company_path(company)
      %td= link_to 'Destroy', company, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Company', new_company_path
