= form_for @stakeholder_company do |f|
  - if @stakeholder_company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stakeholder_company.errors.count, "error")} prohibited this stakeholder_company from being saved:"
      %ul
        - @stakeholder_company.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :takeholder_company_type_id
    = f.number_field :takeholder_company_type_id
  .field
    = f.label :company_name
    = f.text_field :company_name
  .field
    = f.label :contact
    = f.text_field :contact
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :zip
    = f.number_field :zip
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :fax
    = f.text_field :fax
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :website
    = f.text_area :website
  .field
    = f.label :notes
    = f.text_area :notes
  .actions
    = f.submit 'Save'
