%h1 Listing sites

%table
  %tr
    %th Number
    %th Structure type
    %th Address
    %th City
    %th County
    %th Loc page
    %th Loc longitude
    %th Loc latitude
    %th Apn
    %th Tombrobox
    %th Fault
    %th
    %th
    %th

  - @sites.each do |site|
    %tr
      %td= site.number
      %td= site.structure_type_id
      %td= site.address
      %td= site.city
      %td= site.county
      %td= site.loc_page
      %td= site.loc_longitude
      %td= site.loc_latitude
      %td= site.apn
      %td= site.tombrobox
      %td= site.fault_id
      %td= link_to 'Show', site
      %td= link_to 'Edit', edit_site_path(site)
      %td= link_to 'Destroy', site, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Site', new_site_path
